# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a CI script in a specific folder later made into an artifact.
#  Last updated: 2022-02-22
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# According to https://pipenv.pypa.io/en/latest/basics/#pipfile-lock-as-a-version-control-mechanism
# Pipfile.lock should be committed to version control.
# Pipfile.lock

# PEP 582; used by PDM, Flit and other build systems.
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
# .idea/  # User may or may not want to ignore this

# VS Code
.vscode/

# OS-generated files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
# macOS
.DS_Store
.AppleDouble
.LSOverride
# Linux
*~
# KDE
.directory

# Custom rules from existing .gitignore
# secrets & caches
# .env # Already covered by Environments
# __pycache__/ # Already covered by Byte-compiled
# *.pyc # Already covered by Byte-compiled
temp.pdf
data/*
